#projects {
  height: 100vh;
  position: relative;
  margin-top: 3rem;
  display: flex;
  align-items: center;
}

.portfolioHeader {
  font-size: 2.3rem;
  font-weight: 700;
  padding: 1rem 2rem 1rem 0;
  border-bottom: 3px solid #a2b29f;
  max-width: 15rem;
  margin-bottom: 5rem;
  margin-top: 3rem;
  padding-top: 7rem;
}

@media (max-width: 600px) {
  #projects {
    height: unset;
  }

  .portfolioHeader {
    padding-top: 3rem;
  }
}
