.dark {
  background: #141414;
  color: #5d5d5d;
}
.dark nav {
  background: #141414;
  box-shadow: 20px 20px 60px #111111, -20px -20px 60px #171717;
}

.light {
  background-color: #fff;
  color: #5d5d5d;
}

h1 {
  color: #5d5d5d !important;
}
